#navbar {
    height: 6rem;
    background-color: #8bda7fff;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: top;
    margin: 0 0;
}

/*  */
.tree {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 6rem;

}

.icon {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    font-size: 3rem;
    padding: 0 1rem;
    margin: 0;
}

.buttons {
    margin: 0 2rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h2 {
    padding: 0 2vw;
}